<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CyotekTabList" version="2.2.0" targetFramework="net452" />
  <package id="EWSoftware.ListControls" version="2020.11.25" targetFramework="net452" />
  <package id="Guna.UI2.WinForms" version="2.0.4" targetFramework="net452" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.0" targetFramework="net452" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net452" />
  <package id="Syncfusion.Grid.Base" version="20.4.0.43" targetFramework="net452" />
  <package id="Syncfusion.Grid.Windows" version="20.4.0.43" targetFramework="net452" />
  <package id="Syncfusion.Licensing" version="20.4.0.43" targetFramework="net452" />
  <package id="Syncfusion.Shared.Base" version="20.4.0.43" targetFramework="net452" />
  <package id="Syncfusion.Shared.Windows" version="20.4.0.43" targetFramework="net452" />
  <package id="Syncfusion.SpellChecker.Base" version="20.4.0.43" targetFramework="net452" />
  <package id="Syncfusion.Tools.Base" version="20.4.0.43" targetFramework="net452" />
  <package id="Syncfusion.Tools.Windows" version="20.4.0.43" targetFramework="net452" />
  <package id="WiLBiT" version="1.1.4" targetFramework="net452" />
</packages>